@charset "UTF-8";

/* ---------------------------------------------------------- *\
 * Imports.
\* ---------------------------------------------------------- */

@import "~normalize.css/normalize";

/* ---------------------------------------------------------- *\
 * Border-box.
\* ---------------------------------------------------------- */

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* ---------------------------------------------------------- *\
 * Globals.
\* ---------------------------------------------------------- */

body {
  position: relative;

  min-height: 100vh;
  margin: 0;
}

::selection {
  color: white;
  background: tomato;
}

/* ---------------------------------------------------------- *\
 * Typography.
\* ---------------------------------------------------------- */

html {
  color: #050505;

  font: 62.5%/1.4 Verdana, sans-serif;
}

body {
  font-size: 1.5em;
}
